<body>

	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-tab" role="tablist" aria-orientation="vertical">
			<button class="nav-link active" id="v-home-tab" data-bs-toggle="pill" data-bs-target="#v-home" type="button"
				role="tab" aria-controls="v-home" aria-selected="true">Home</button>
			<button class="nav-link" id="v-profile-tab" data-bs-toggle="pill" data-bs-target="#v-profile" type="button"
				role="tab" aria-controls="v-profile" aria-selected="false">Profile</button>
			<button class="nav-link" id="v-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-disabled"
				type="button" role="tab" aria-controls="v-disabled" aria-selected="false" disabled>Disabled</button>
			<button class="nav-link" id="v-messages-tab" data-bs-toggle="pill" data-bs-target="#v-messages"
				type="button" role="tab" aria-controls="v-messages" aria-selected="false">Messages</button>
			<button class="nav-link" id="v-settings-tab" data-bs-toggle="pill" data-bs-target="#v-settings"
				type="button" role="tab" aria-controls="v-settings" aria-selected="false">Settings</button>
		</div>
</body>