<body>
	<div class="tab-content" id="v-tabContent">
		<div class="tab-pane fade show active" id="v-home" role="tabpanel" aria-labelledby="v-home-tab" tabindex="0">a</div>
		<div class="tab-pane fade" id="v-profile" role="tabpanel" aria-labelledby="v-profile-tab" tabindex="0">.b..</div>
		<div class="tab-pane fade" id="v-disabled" role="tabpanel" aria-labelledby="v-disabled-tab" tabindex="0">..c.</div>
		<div class="tab-pane fade" id="v-messages" role="tabpanel" aria-labelledby="v-messages-tab" tabindex="0">.e..</div>
		<div class="tab-pane fade" id="v-settings" role="tabpanel" aria-labelledby="v-settings-tab" tabindex="0">...d</div>
	  </div>
	</div>
</body>